In [1]:
import sys
sys.path.append('../src')
import pandas as pd
from util import memory_usage, id2cat, get_cat2id

In [2]:
u_list = []
i_list = []
for i in range(10000):
    for j in ['Aiden', 'Frank', 'Terry', 'TechLead', 'Joma']:
        u_list.append(j+str(i))

for i in range(1000):
    for j in ['Apple', 'Google', 'Facebook', 'Netflix', 'Amazon']:
        i_list.append(j+str(i))

In [3]:


users = pd.DataFrame({
    'username':u_list
})
items = pd.DataFrame({
    'itemname':i_list
})

In [4]:
# Set merge key
users['k'] = 0
items['k'] = 0

In [5]:
# Use merge how="outer"
user_item_interaction = users.merge(items, how='outer')
user_item_interaction
## take 13.8s

           username  k     itemname
0            Aiden0  0       Apple0
1            Aiden0  0      Google0
2            Aiden0  0    Facebook0
3            Aiden0  0     Netflix0
4            Aiden0  0      Amazon0
...             ... ..          ...
249999995  Joma9999  0     Apple999
249999996  Joma9999  0    Google999
249999997  Joma9999  0  Facebook999
249999998  Joma9999  0   Netflix999
249999999  Joma9999  0    Amazon999

[250000000 rows x 3 columns]

In [6]:
u2idx, u_cat = get_cat2id(users.username)
i2idx, i_cat = get_cat2id(items.itemname)
users.username = u_cat
items.itemname = i_cat

In [7]:
id2cat(u2idx, 49999)

'Terry9999'

In [12]:
u2idx['Aiden0']
id2cat(u2idx, 0)

'Aiden0'

In [9]:
user_item_interaction_id =users.merge(items, how='outer')
user_item_interaction_id
## take 7.7s

           username  k  itemname
0                 0  0      1000
1                 0  0      3000
2                 0  0      2000
3                 0  0      4000
4                 0  0         0
...             ... ..       ...
249999995     29999  0      1999
249999996     29999  0      3999
249999997     29999  0      2999
249999998     29999  0      4999
249999999     29999  0       999

[250000000 rows x 3 columns]

In [10]:
u_cat

0            0
1        10000
2        40000
3        30000
4        20000
         ...
49995     9999
49996    19999
49997    49999
49998    39999
49999    29999
Length: 50000, dtype: int32