In [12]:
import pandas as pd
import numpy as np
# import feather
from util import memory_usage, id2cat, get_cat2id

In [ ]:
df = pd.read_csv('./data/shared_articles.csv')
print(df.info(memory_usage="deep"))
print('======')
df.memory_usage(deep=True)

In [ ]:
d_int = df.select_dtypes(include=['int'])
downint = d_int.apply(pd.to_numeric)
print(memory_usage(d_int))
print(memory_usage(downint))

In [34]:
ap2idx, ap_cat = get_cat2id(df.authorPersonId)
df.authorPersonId

0       4340306774493623681
1       4340306774493623681
2       4340306774493623681
3       3891637997717104548
4       4340306774493623681
               ...
3117    3609194402293569455
3118    6960073744377754728
3119    1908339160857512799
3120   -1393866732742189886
3121    3891637997717104548
Name: authorPersonId, Length: 3122, dtype: int64

In [27]:
df.authorPersonId = ap_cat
del ap_cat
df.authorPersonId

0       195
1       195
2       195
3       187
4       195
       ...
3117    181
3118    220
3119    154
3120    112
3121    187
Name: authorPersonId, Length: 3122, dtype: int16

In [12]:
# ap2idx[4340306774493623681]
id2cat(ap2idx, 112)

-1393866732742189886

In [38]:
df.memory_usage(deep=True) # authorPersonId from 24976 to 6244

Index                   128
timestamp             24976
eventType            221737
contentId             24976
authorPersonId        24976
authorSessionId       24976
authorUserAgent      188872
authorRegion         118264
authorCountry        118264
contentType          190453
url                  447704
title                422736
text               27437586
lang                 184198
dtype: int64

In [33]:
df.to_pickle('./data/sa.pkl')

In [15]:
df_ftr.to_feather('./data/sa.ftr')

In [13]:
df_ftr = pd.read_feather('./data/sa.ftr')

In [4]:
df_pkl = pd.read_pickle('./data/sa.pkl')

In [5]:
df_csv = pd.read_csv('./data/shared_articles.csv')

In [6]:
df_ftr.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3122 entries, 0 to 3121
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   timestamp        3122 non-null   int64
 1   eventType        3122 non-null   object
 2   contentId        3122 non-null   int64
 3   authorPersonId   3122 non-null   int64
 4   authorSessionId  3122 non-null   int64
 5   authorUserAgent  680 non-null    object
 6   authorRegion     680 non-null    object
 7   authorCountry    680 non-null    object
 8   contentType      3122 non-null   object
 9   url              3122 non-null   object
 10  title            3122 non-null   object
 11  text             3122 non-null   object
 12  lang             3122 non-null   object
dtypes: int64(4), object(9)
memory usage: 20.9 MB

In [7]:
df_pkl.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3122 entries, 0 to 3121
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   timestamp        3122 non-null   int64
 1   eventType        3122 non-null   object
 2   contentId        3122 non-null   int64
 3   authorPersonId   3122 non-null   int64
 4   authorSessionId  3122 non-null   int64
 5   authorUserAgent  680 non-null    object
 6   authorRegion     680 non-null    object
 7   authorCountry    680 non-null    object
 8   contentType      3122 non-null   object
 9   url              3122 non-null   object
 10  title            3122 non-null   object
 11  text             3122 non-null   object
 12  lang             3122 non-null   object
dtypes: int64(4), object(9)
memory usage: 20.9 MB

In [8]:
df_csv.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3122 entries, 0 to 3121
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   timestamp        3122 non-null   int64
 1   eventType        3122 non-null   object
 2   contentId        3122 non-null   int64
 3   authorPersonId   3122 non-null   int64
 4   authorSessionId  3122 non-null   int64
 5   authorUserAgent  680 non-null    object
 6   authorRegion     680 non-null    object
 7   authorCountry    680 non-null    object
 8   contentType      3122 non-null   object
 9   url              3122 non-null   object
 10  title            3122 non-null   object
 11  text             3122 non-null   object
 12  lang             3122 non-null   object
dtypes: int64(4), object(9)
memory usage: 20.9 MB

In [11]:
df_csv

,timestamp,eventType,contentId,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,title,text,lang
0,1459192779,CONTENT REMOVED,-6451309518266745024,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
1,1459193988,CONTENT SHARED,-4110354420726924665,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
2,1459194146,CONTENT SHARED,-7292285110016212249,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en
3,1459194474,CONTENT SHARED,-6151852268067518688,3891637997717104548,-1457532940883382585,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,Google Data Center 360° Tour,We're excited to share the Google Data Center ...,en
4,1459194497,CONTENT SHARED,2448026894306402386,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,https://bitcoinmagazine.com/articles/ibm-wants...,"IBM Wants to ""Evolve the Internet"" With Blockc...",The Aite Group projects the blockchain market ...,en
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3117,1487946604,CONTENT SHARED,9213260650272029784,3609194402293569455,7144190892417579456,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,SP,BR,HTML,https://startupi.com.br/2017/02/liga-ventures-...,"Conheça a Liga IoT, plataforma de inovação abe...","A Liga Ventures, aceleradora de startups espec...",pt
3118,1487947067,CONTENT SHARED,-3295913657316686039,6960073744377754728,-8193630595542572738,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,GA,US,HTML,https://thenextweb.com/apps/2017/02/14/amazon-...,Amazon takes on Skype and GoToMeeting with its...,"Amazon has launched Chime, a video conferencin...",en
3119,1488223224,CONTENT SHARED,3618271604906293310,1908339160857512799,-183341653743161643,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0...,SP,BR,HTML,https://code.org/about/2016,Code.org 2016 Annual Report,"February 9, 2017 - We begin each year with a l...",en
3120,1488300719,CONTENT SHARED,6607431762270322325,-1393866732742189886,2367029511384577082,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,MG,BR,HTML,https://www.bloomberg.com/news/articles/2017-0...,JPMorgan Software Does in Seconds What Took La...,"At JPMorgan Chase & Co., a learning machine is...",en
3121,1488307871,CONTENT SHARED,4109618890343020064,3891637997717104548,-7416795577834806518,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,SP,BR,HTML,https://www.acquia.com/blog/partner/2017-acqui...,The 2017 Acquia Partners of the Year,The Acquia Partner Awards Program is comprised...,en